<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>HAZ</title>
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta name="description" content="The mobile app offers build your own comprehensive database that is both reliable and trustworthy. Connect with network of professionals via mobile app.">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hellohazzir">
<meta name="twitter:title" content="HAZ">
<meta name="twitter:description" content="The mobile app offers build your own comprehensive database that is both reliable and trustworthy. Connect with network of professionals via mobile app.">
<meta name="twitter:creator" content="@aasimkh">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://raw.githubusercontent.com/asimkh/apps/haz/www/img/haz-twthumb.jpg">

    <!--facebook-->
    <meta property="og:title" content="HAZ">
    <meta property="og:type" content="app">
    <meta property="og:url" content="http://haz.heroku.com">
    <meta property="og:image" content="https://raw.githubusercontent.com/asimkh/apps/haz/www/img/haz-fbthumb.jpg"> 
    <meta property="og:description" content="The mobile app offers build your own comprehensive database that is both reliable and trustworthy. Connect with network of professionals via mobile app.">   
    <meta property="og:site_name" content="HAZ">
</head>

<body>
<table width="100%" border="0" align="center">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><h3>Thank you! </h3>
<p>Thanks for using <strong>Haz App</strong> via <a href="http://haz.herokuapp.com" title="Haz App" target="_blank">http://haz.herokuapp.com</a></p>
<p>Please send us your feedback to improve the app service at <a href="mailto:support@hazzir.com">support@hazzir.com</a></p>
<p>Like us at <a href="http://www.facebook.com/hellohazzir" title="facebook" target="_blank">http://www.facebook.com/hellohazzir</a><br />
Follow us at <a href="https://www.twitter.com/hellohazzir" title="twitter" target="_blank">https://www.twitter.com/hellohazzir</a></p>
<h3>Looking to promote your brand &amp; reach new customers?</h3>
  For advertising in the app for your product and service or <br />
  If you are interested in advertising with us please email us at <a href="mailto:info@hazzir.com">info@hazzir.com</a></h4>
<p>Thanks<br />
Hazzir Team<br><br />
  <a href="http://www.hazzir.com"><img src="http://haz.herokuapp.com/images/mob-logo.png" alt="Hazzir" width="48" height="48" /></a>
  <br />
  <a href="http://hazzir.com/" title="privacy" target="_blank">http://www.hazzir.com/</a>
  
    </td>
  </tr>
  <tr>
    <td><small><em>Note: haz-app@hazzir.com is auto reply email.
    <br />© 2015 Hazzir. All rights reserved.</em></small>
</td>
  </tr>
</table>


  
</body>
</html>
