/* Empty. Add your own CSS if you like */
/*
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: 200;
}
body{
    font-family: 'Open Sans';
}
*/
/* ======== */
.body{
  font-family: "Roboto";
}
.hpaddding-100{padding-top:180px;}
.bg-pane{background:url(../../img/mob-background.png) no-repeat center center fixed;
  -webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
.logo-login{height:120px;width:120px;display:block;margin:0 auto;}
.login-text p{color:#00baff;font-size:18px;margin:0 auto;padding-bottom:20px;}
.login-button{border:solid 1px #00baff !important;color:#00baff !important;  width: 220px;
  }
.update-button{border:solid 1px #00baff !important;color:#00baff !important;  width: 220px;}

div, p, .item p{color:#bcc1c4; font-size: 14px;}
h2, .item, .item h2{font-size: 23px; font-weight: bold; color:#bcc1c4;}
.item-complex .item-content, .item {background-color: #3e4454;}
.item{border-color: #353744; border-width: 2px;}
.list-bg{background-color: #353744;}
.perH{color: #be6556; font-weight: bold; font-size: 18px;}
.ion-tabs.tabs-color-active-positive .tab-item{color:#bcc1c4; }
.sharing{color: #be6556; font-size: 14px;}



/* ======== */

/*
.h-Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-Aligner-item {
  max-width: 50%;
}

.h-Aligner-item--top {
  align-self: flex-start;
}

.h-Aligner-item--bottom {
  align-self: flex-end;
}
*/
/*---- Center Align 
.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/

/*
.tabs-hide .tabs {
    display: none;
}
*/


/*
 .ex4_container { content-positioning:50% 50%; width:200px; height:200px; background-color:yellow; }
 .ex4_content { content-positioning-anchor:50% 50%; background-color:gray; color:white; }
*/
/*
 .scroll-content {
    background: url(../../img/m-background.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

  }
  */

