node_modules
*.env
*.env.dev
bower.json
gulpfile.js
*.project
*.keystore
*.sublime-project
*.sublime-workspace
package copy.json
package - Copy.json
/www/templates/*.php
/www/templates/contact-us - Copy.html