/node_modules/
/tests/
/hazzir/
/vendor/
Homestead.yaml
Homestead.json
.env
.production.env
.*.env
.env.local
.env.production
.env.*.php
config.php
server.php
connection.php
php.ini
.DS_Store
demo.*
Thumb.db


