<ion-view title ="HAZ" class="bg-pane" ng-controller="LoginCtrl" >
<!-- ng-style="{'background-image':'url({{bgSrc}})'}" -= -->
   
    <ion-content padding="true" >
    <!--
        <h1 style="text-align: center;">IO</h1>
        <div class="row">
      <div class="col col-25">
        <button class="button button-block button-positive" ng-click="gotoState()">
         Login
        </button>
      </div>
    </div>
    -->
   
<div class="hpaddding-100"></div>
<div class="logo-login"></div>
<div class="row login-text" >
<!--<p>{{descTxt}}</p>-->
<!--<input type="text" placeholder="Enter Name">-->


</div>




<div class="row">
<div class="col hz-name center">

<center> 
<!--
<input type="text" class="text-input text-input--transparent" placeholder="Enter Name">
-->
<form class="login-form" ng-submit="submitForm(user)">
 <ion-list>
   <ion-item class="item-input">
     <input type="text" ng-model="user.firstName" placeholder="Enter Name">
   </ion-item>
   
   
   <input type="submit" class="button button-block button-calm" value="{{loginTxt}}">
 </ion-list>
</form>
</center>
 
    
   
 
  <!--
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  -->

</div>
</div>


    <!-- <div class="row">
      <div class="col ">
      <center>
          <button class="button button-outline login-button" ui-sref="app.dash">{{loginTxt}}</button>
          -->
          <!--<button class="button button-primary button-outline update-button " ng-click="checkForUpdates()">
  Check for updates
</button>
          </center>
      </div>
    </div>

      <div class="row">
      <div class="col">
      <center>

         
<button class="button button-stable button-block button-pulse update-button" ng-if="hasUpdate" ng-click="doUpdate()">
  download update
</button>-->
<!--  </center>
      </div>
    </div>

    -->
    </ion-content>
   
</ion-view>