<ion-view hide-nav-bar="true ">
   
    <ion-content padding="true">
    <!--
        <h1 style="text-align: center;">IO</h1>
        <div class="row">
      <div class="col col-25">
        <button class="button button-block button-positive" ng-click="gotoState()">
         Login
        </button>
      </div>
    </div>
    -->
   


    <div class="row hpaddding-100">
    <div class="col">
    <button class="button button-block button-positive" ng-click="gotoState()">
         Login
        </button>
    </div>
    </div>

    </ion-content>
   
</ion-view>