<ion-view class="bg-pane" ng-controller="LoginCtrl"  ng-style="{'background-image':'url({{bgSrc}})'}">
   
    <ion-content padding="true" >
    <!--
        <h1 style="text-align: center;">IO</h1>
        <div class="row">
      <div class="col col-25">
        <button class="button button-block button-positive" ng-click="gotoState()">
         Login
        </button>
      </div>
    </div>
    -->
   
<div class="hpaddding-100"></div>
<img ng-src="{{logoSrc}}" class="logo-login">
<div class="row login-text" >
<p>{{descTxt}}</p>
</div>
    

     <div class="row">
      <div class="col">
      <center>
          <button class="button button-outline login-button" ng-click="gotoState()">
       {{loginTxt}}
          </button>
          </center>
      </div>
    </div>

    </ion-content>
   
</ion-view>