<ion-view>

  <ion-content class="padding"  >
<!--  
<div class="Aligner">
  <div class="Aligner-item Aligner-item--top">…</div>
  <div class="Aligner-item">…</div>
  <div class="Aligner-item Aligner-item--bottom">…</div>
</div>
-->
  
    
    <div class="row">
      <div class="col col-center">
        <button class="button button-block button-positive" ng-click="gotoState()">
          Go to Login
        </button>
      </div>
    </div>

<!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>

    -->
    <!--
    <label class="item">
    <button class="button button-block button-positive" ng-click="fbLogin()">
    Login with Facebook
    </button>
    </label>
    -->
  </ion-content>
</ion-view>
